
<div class="ballot_header">
  <h1>Ballot Page</h1>
</div>






<div class="vertical_line"></div>
<div class="vertical_line2"></div>
<div class="vertical_line3"></div>
<div class="vertical_line4"></div>
<div class="vertical_line5"></div>
<div class="vertical_line6"></div>

<form>
  <label for="fname">Labor Party</label><br>
  <input type="number" id="fname" name="fname"><br>


</form>

<div class="middle_margin"></div>




<button class="submit_vote">Submit Vote</button>

