
<div class="ballot_header">
  <h1>Ballot Page</h1>
</div>






<div class="vertical_line"></div>
<div class="vertical_line"></div>
<div class="vertical_line"></div>
<div class="vertical_line"></div>
<div class="vertical_line"></div>
<div class="vertical_line"></div>

<div class="middle_margin"></div>


<div class="vertical_line"></div>
<div class="vertical_line"></div>
<div class="vertical_line"></div>
<div class="vertical_line"></div>
<div class="vertical_line"></div>
<div class="vertical_line"></div>

<button class="submit_vote">Submit Vote</button>

