<h1 style="text-align: center">SENATE VOTING APPLICATION</h1>
<div class="login_page_div">
  <%= button_to "Login as voter"%>
  <%= button_to "Login as election commissioner", admin_voting_results_path %>
</div>
