
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.login_page_div {
  text-align: center;
  margin-top: 10%;
}

.voter_home_page_div {
  background-color: whitesmoke;
  width: 55%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5%;
}

.button {
  width: 20%;
}

.vote_now_button {
  width: 10%;
  margin:0 auto;
  display:block;
}

//Ballot Page stuff
.ballot_header {
  text-align: center;
  background: #089624;
  font-size: 20px;
}

.submit_vote{
  background: lightgreen;
  color: black;
  width: 20%;
  margin-top: 150px;
  margin-left: 38%;
  margin-right: auto;
  border-radius: 15px;
  border-color: black;
  height: 40px;
}

table{
  width: 100%
}
td{
  border: 1px solid black;
}

th{
  border: 5px solid #089624;
}

legend{
  align-items: center;
}